<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.local.network-domain-proxy</string>
  <key>UserName</key><string>nobody</string>
  <key>ProgramArguments</key><array>
    <string>/usr/local/libexec/network-domain-sing-box</string>
    <string>run</string><string>--disable-color</string>
    <string>--log-file</string><string>/var/log/network-domain-proxy/service.log</string>
    <string>--log-max-size</string><string>2097152</string>
    <string>--log-max-backups</string><string>3</string>
    <string>-c</string><string>/usr/local/etc/network-domain-proxy.json</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>5</integer>
  <key>ExitTimeOut</key><integer>10</integer>
</dict></plist>
